
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Computer Education</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.17/cytoscape.min.js"></script>
        <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
        <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
        <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
        <style>
/* webkit printing magic: print all background colors */
#cy {
            position: absolute;
            left: 0;
            top: 10;
            bottom: 20;
            right: 0;
            z-index: 999;
        }
        
.page-title {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 1.875rem;
	margin-bottom: 0.75em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.body {
	font-size: 0.8rem;
	font-weight: 400;
    margin-left:6em;
    font-family: 'Jeju Gothic', serif; 
            }
	
        </style> 
        
        <script>

            document.addEventListener('DOMContentLoaded', function(){
                const data = [
                { // node a
                    data: { "id": 'h',
                          "label" : '*컴퓨터수업설계및연습(2)',
                          "url":"https://everytime.kr/lecture/view/77637"}
                },
                      { 
                    data: { "id": 'i',
                          "label" : '*컴퓨터교재연구및지도법(1)',
                          "url":"https://everytime.kr/lecture/view/46059"}
                },
                      { 
                    data: { "id": 'j',
                          "label" : '*컴퓨터교육개론(1,2)',
                          "url":"https://everytime.kr/lecture/view/44639"}
                },
                      { 
                    data: { "id": 'l',
                          "label" : '*컴퓨터네트워크(2)',
                          "url":"https://everytime.kr/lecture/view/44644"}
                },
                      { 
                    data: { "id": 'm',
                          "label" : '*데이터통신기술(1)',
                          "url":"https://everytime.kr/lecture/view/42965"}
                },
                      { 
                    data: { "id": 'n1',
                          "label" : '*피지컬컴퓨팅(2)',
                          "url":"https://everytime.kr/lecture/view/1856392"}
                },
                      { 
                    data: { "id": 'n2',
                          "label" : '*컴퓨터구조(1)',
                          "url":"https://everytime.kr/lecture/view/1612054"}
                },
                      { 
                    data: { "id": 'o1',
                          "label" : '*논리회로(2)',
                          "url":"https://everytime.kr/lecture/view/1688719"}
                },
                      { 
                    data: { "id": 'o2',
                          "label" : '*프로그래밍언어론(1)',
                          "url":"https://everytime.kr/lecture/view/42968"}
                },
                      { 
                    data: { "id": 'p2',
                          "label" : '가상및증강현실처리(2)',
                          "url":"https://everytime.kr/lecture/view/2168846"}
                },
                      { 
                    data: { "id": 'q1',
                          "label" : '*리눅스시스템(1)',
                          "url":"https://everytime.kr/lecture/view/2087207"}
                },
                      { 
                    data: { "id": 'q2',
                          "label" : '*운영체제(2)',
                          "url":"https://everytime.kr/lecture/view/2009833"}//
                },
                      { 
                    data: { "id": 'r1',
                          "label" : '*알고리즘(2)',
                          "url":"https://everytime.kr/lecture/view/44652"}
                },
                      { 
                    data: { "id": 'r2',
                          "label" : '*데이타베이스(1)',
                          "url":"https://everytime.kr/lecture/view/42966"}
                },
                      { 
                    data: { "id": 's',
                          "label" : '*자료구조(1)',
                          "url":"https://everytime.kr/lecture/view/46556"}
                },
                      { 
                    data: { "id": 't',
                          "label" : '*기본프로그래밍(2)',
                          "url":"https://everytime.kr/lecture/view/44638"}
                },
                      { 
                    data: { "id": 'u',
                          "label" : '*소프트웨어공학(2)',
                          "url":"https://everytime.kr/lecture/view/42272"}
                },
                      { 
                    data: { "id": 'v',
                          "label" : '교육용소프트웨어개발(1)',
                          "url":"https://everytime.kr/lecture/view/1772270"}
                },
                      { 
                    data: { "id": 'x',
                          "label" : '컴퓨터보안(2)',
                          "url":"https://everytime.kr/lecture/view/1688662"}
                },
                      { 
                    data: { "id": 'y',
                          "label" : '*인공지능(1)',
                          "url":"https://everytime.kr/lecture/view/2009835"}
                },
                      { 
                    data: { "id": 'z',//
                          "label" : '교육용멀티미디어(2)',
                          "url":"https://everytime.kr/lecture/view/2168845"}
                },
                      { 
                    data: { "id": 'c2',//
                          "label" : '컴퓨터교육세미나(2)',
                          "url":"https://everytime.kr/lecture/view/2009836"}
                },
                       { 
                    data: { "id": 'm2',//
                          "label" : '소셜러닝과 인터넷(1)',
                          "url":"https://everytime.kr/lecture/view/1937255"}
                },
                       { 
                    data: { "id": 'c1',//
                          "label" : '인터넷윤리(1)',
                          "url":"https://everytime.kr/lecture/view/1772268"}
                },
                    {
                    data: { "id": 'c3',//
                          "label" : '*컴퓨터교과교육론(2)',
                          "url":"https://everytime.kr/lecture/view/44646"}
                },

                    {
                    data: { "id": 'c4',//
                          "label" : '수업과소프트웨어활용(2)',
                          "url":"https://everytime.kr/lecture/view/2009834"}
                },
                    {
                    data: { "id": 'c5',//
                          "label" : '*클라우드컴퓨팅개론(1)',
                          "url":"https://everytime.kr/lecture/view/2087209"}
                },
                    {
                    data: { "id": 'c6',//
                          "label" : '*모바일프로그래밍입문(1)',
                          "url":"https://everytime.kr/lecture/view/2087210"}
                },
                    {
                    data: { "id": 'c7',//
                          "label" : '데이터과학입문(1)',
                          "url":"https://everytime.kr/lecture/view/22"}
                },
                    {
                    data: { "id": 'c9',//
                          "label" : '네트워크운영관리(1)',
                          "url":"https://everytime.kr/lecture/view/42973"}
                },
                    {
                    data: { "id": '2h1',//
                          "label" : '2-1'}
                },
                    {
                    data: { "id": '2h2',//
                          "label" : '2-2'}
                },
                    {
                    data: { "id": '2h22',//
                          "label" : '2-2'}
                },
                    {
                    data: { "id": '2h23',//
                          "label" : '2-2'}
                },
                    {
                    data: { "id": '1h2',//
                          "label" : '1-2'}
                },
                   {
                    data: { "id": '1h1',//
                          "label" : '1-1'}
                },
                   {
                    data: { "id": '3h1',//
                          "label" : '3-1'}
                },
                    {
                    data: { "id": '3h12',//
                          "label" : '3-1'}
                },
                    {
                    data: { "id": '3h2',//
                          "label" : '3-2'}
                },
                    {
                    data: { "id": '4h1',//
                          "label" : '4-1'}
                },
                    
                     {
                    data: { id: 'ts', source: 't', target: 's' }//
                },
                    {
                    data: { id: '1h1t', source: '1h1', target: 't' }//
                },
                    {
                    data: { id: 'ml', source: 'm', target: 'l' }//
                },
                     { 
                    data: { id: 'sr1', source: 's', target: 'r1' }
                },
                      { 
                    data: { id: 's2h23', source: 's', target: '2h23' }//
                },
                     { 
                    data: { id: '2h23r2', source: '2h23', target: 'r2' }//
                },
                      { 
                    data: { id: 'r2q2', source: 'r2', target: 'q2' }
                },
                      { 
                    data: { id: 'tq1', source: 't', target: 'q1' }
                },
                    { 
                    data: { id: '1h2m', source: '1h2', target: 'm' }
                },
                    { 
                    data: { id: '2h12h2', source: '2h1', target: '2h2' }
                },
                     { 
                    data: { id: '2h1z', source: '2h1', target: 'z' }
                },
                    { 
                    data: { id: '2h23h1', source: '2h2', target: '3h1' }
                },
                    { 
                    data: { id: '2h2o2', source: '2h2', target: 'o2' }
                },
                    
                    { 
                    data: { id: '2h2c6', source: '2h2', target: 'c6' }
                },
                    { 
                    data: { id: '2h2c5', source: '2h2', target: 'c5' }
                },
                    { 
                    data: { id: '2h2v', source: '2h2', target: 'v' }
                },
                    { 
                    data: { id: '3h13h2', source: '3h1', target: '3h2' }
                },
                    { 
                    data: { id: '3h1c4', source: '3h1', target: 'c4' }
                },
                    { 
                    data: { id: '3h1u', source: '3h1', target: 'u' }
                },
                   { 
                    data: { id: '3h24h1', source: '3h2', target: '4h1' }
                },
                   { 
                    data: { id: '3h2c9', source: '3h2', target: 'c9' }
                },
                   { 
                    data: { id: '3h2y', source: '3h2', target: 'y' }
                },
                   { 
                    data: { id: '4h1c2', source: '4h1', target: 'c2' }
                },
                   { 
                    data: { id: '4h1x', source: '4h1', target: 'x' }
                },
                   
                    { 
                    data: { id: '1h22h1', source: '1h2', target: '2h1' }
                },
                    { 
                    data: { id: '1h11h2', source: '1h1', target: '1h2' }
                },
                      { 
                    data: { id: '2h1o1', source: '2h1', target: 'o1' }
                },
                     { 
                    data: { id: '3h12p2', source: '3h12', target: 'p2' }
                },
                    
                     { 
                    data: { id: 'q12h22', source: 'q1', target: '2h22' }
                },
                    { 
                    data: { id: '2h223h12', source: '2h22', target: '3h12' }
                },
                      { 
                    data: { id: 'tp1', source: 't', target: 'p1' }
                },
                    { 
                    data: { id: '1h2c7', source: '1h2', target: 'c7' }
                },
                      { 
                    data: { id: 'p1o2', source: 'p1o2', target: 'p1o2' }
                },
                      { 
                    data: { id: 'o1n2', source: 'o1', target: 'n2' }
                },
                      { 
                    data: { id: 'n2n1', source: 'n2', target: 'n1' }//
                },
                      { 
                    data: { id: '3h1c3', source: '3h1', target: 'c3' }
                },
                    { 
                    data: { id: '1h2i', source: '1h2', target: 'i' }
                },
                     { 
                    data: { id: '2h1h', source: '2h1', target: 'h' }
                },
            ]; 


            const cy_for_rank = cytoscape({ elements: data });

            const pageRank = cy_for_rank.elements().pageRank();

            const nodeMaxSize = 30;
            const nodeMinSize = 12;
            const nodeActiveSize = 15;
            const fontMaxSize = 15;
            const fontMinSize =15;
            const fontActiveSize = 30;
                
            const edgeWidth = '2px';
            var edgeActiveWidth = '4px';
            const arrowScale = 1;
            const arrowActiveScale = 1.2;
            
            const dimColor = '#dfe4ea';
            const edgeColor = '#E2E2E2';
            const nodeColor = '#708090';
            const nodeActiveColor = '#ffa502';

            const successorColor = '#ff6348';
            // 상위 node & edge color
            const predecessorsColor = '#1e90ff';
            

            var cy = window.cy = cytoscape({
                //cy라는 변수안에 크게 세가지를 지정해주는 데
                //첫번째가 layout - cytoscape에서 선택한 layout을 name에 적어둠. 거기에 따라서 rankDir이나 animate같은 효과 추가 자유롭게 가능~
                //두번째가 style - 말 그대로 꾸며주는 거.
                //세번째가 elements - edge와 vertex를 선언해주는 거. 위에서 data라고 변수명을 선언해준거를 호출. 
                container: document.getElementById('cy'),

                layout: { //레이아웃 설정
                    name: 'dagre', //기본적인 dargre는 hierarchy
                    rankDir: 'LR', //근데 내가 left to right로 바꿈
                    animate:'end', //애니메이션 나타나는 효과
                    padding: 30, //응집되는 정도
                    rankSep: 170, //rank 간 간격인데 이거의 결과는 노드 길이 변화로 나타남
                    spacingFactor: 0.6, //전체적인 layout 크기
                },
                
                style: [
                    {
                        selector: 'node', //노드 설정
                        style: {
                            'font-family': 'Gugi',              
                            'background-color': nodeColor,
                            'label':'data(label)',
                             'width': function (ele) {
                                return nodeMaxSize *  pageRank.rank('#' + ele.id())  + nodeMinSize;
                            },
                            'height': function (ele) {
                                return nodeMaxSize *  pageRank.rank('#' + ele.id()) + nodeMinSize;
                            },
                            'font-size': function (ele) {
                                return fontMaxSize *   pageRank.rank('#' + ele.id()) + fontMinSize;
                            },
                            'color': nodeColor
                        }
                    },

                    {
                        selector: 'edge', //edge설정
                        style: {
                            'curve-style': 'bezier',
                            'target-arrow-shape': 'vee',
                            'line-color': edgeColor,
                            'target-arrow-color': edgeColor,
                            //'opacity': 1,
                            'width': edgeWidth,
                            'arrow-scale': arrowScale
                        }
                    }
                ],

                elements:data,
                
            }); //cy
                
                  /*여기서부터는 알테니까~*/
            function setDimStyle(target_cy, style) {
                target_cy.nodes().forEach(function (target) {
                    target.style(style);
                });
                target_cy.edges().forEach(function (target) {
                    target.style(style);
                });
            }
            function setFocus(target_element, successorColor, predecessorsColor, edgeWidth, arrowScale) {
                target_element.style('background-color', nodeActiveColor);
                target_element.style('color', nodeColor);
                target_element.successors().each(function (e) {
                    // 상위  엣지와 노드
                    if (e.isEdge()) {
                        e.style('width', edgeWidth);
                        e.style('arrow-scale', arrowScale);
                    }
                    e.style('color', nodeColor);
                    e.style('background-color', successorColor);
                    e.style('line-color', successorColor);
                    e.style('source-arrow-color', successorColor);
                    setOpacityElement(e, 0.5);
                }
                );
                target_element.predecessors().each(function (e) {
                    // 하위 엣지와 노드
                    if (e.isEdge()) {
                        e.style('width', edgeWidth);
                        e.style('arrow-scale', arrowScale);
                    }
                    e.style('color', nodeColor);
                    e.style('background-color', predecessorsColor);
                    e.style('line-color', predecessorsColor);
                    e.style('source-arrow-color', predecessorsColor);
                    setOpacityElement(e, 0.5);
                });
                target_element.neighborhood().each(function (e) {
                    // 이웃한 엣지와 노드
                    setOpacityElement(e, 1);
                }
                );
                target_element.style('width', Math.max(parseFloat(target_element.style('width')), nodeActiveSize));
                target_element.style('height', Math.max(parseFloat(target_element.style('height')), nodeActiveSize));
                target_element.style('font-size', Math.max(parseFloat(target_element.style('font-size')), fontActiveSize));
            }

            function setOpacityElement(target_element, degree) {
                target_element.style('opacity', degree);
            }

            function setResetFocus(target_cy) {
                target_cy.nodes().forEach(function (target) {
                    target.style('background-color', nodeColor);
                    var rank = pageRank.rank(target);
                    target.style('width', nodeMaxSize * rank + nodeMinSize);
                    target.style('height', nodeMaxSize * rank + nodeMinSize);
                    target.style('font-size', fontMaxSize * rank + fontMinSize);
                    target.style('color', nodeColor);
                    target.style('opacity', 1);
                });
                target_cy.edges().forEach(function (target) {
                    target.style('line-color', edgeColor);
                    target.style('source-arrow-color', edgeColor);
                    target.style('width', edgeWidth);
                    target.style('arrow-scale', arrowScale);
                    target.style('opacity', 1);
                });
            }
            cy.on('tap', function (e) {
                const url = e.target.data('url')
                if (url && url !== '') {
                    window.open(url);
                }
            });
            cy.on('tapstart mouseover', 'node', function(e){
                setDimStyle(cy, {
                'background-color': dimColor,
                'line-color': dimColor,
                'source-arrow-color': dimColor,
                'color': dimColor
            });

                setFocus(e.target, successorColor, predecessorsColor, edgeActiveWidth, arrowActiveScale);
            });

            cy.on('tapend mouseout', 'node', function(e){
                 setResetFocus(e.cy);
            }); 
            let resizeTimer;

            window.addEventListener('resize', function () {
                this.clearTimeout(resizeTimer);
                resizeTimer = this.setTimeout(function(){
                    cy.fit();
                },200);
            });

        }); //끝
            
        </script>
    </head>
    <body><article id="6cee881b-1d3c-4f6e-84b7-73a51494d83e" class="page sans"><header><div class="page-title">💛 Computer Education</div></header><div class="body">2021학년도 기준으로 표기된 로드맵입니다.</div><div class="body">*[과목명]:전공코어 / [과목명]:전공심화</div><div id="cy"></div></article>
    </body>
</html>